# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# -------------------------
# Node / React
# -------------------------
node_modules/
dist/
.vite/

# -------------------------
# Docker / Scanner outputs
# -------------------------
output/
*.log

# CSV generados
output/*.csv

# -------------------------
# Temporary files
# -------------------------
*.tmp
.DS_Store

# -------------------------
# Grafana (si ya no lo usas, puedes borrar esta línea)
# -------------------------
grafana_data/
