# ============================
# PYTHON
# ============================
__pycache__/
*.pyc

# ============================
# NODE / VITE
# ============================
scanner_frontend/node_modules/
scanner_frontend/dist/

# ============================
# DOCKER OUTPUT (reportes generados)
# ============================
scanner_backend/output/

# ============================
# LOGS
# ============================
*.log

# ============================
# SISTEMA / EDITORES
# ============================
.DS_Store
Thumbs.db

# ============================
# ARCHIVOS TEMPORALES
# ============================
*.save
*.save.*
